XCOMM	$Id$

XCOMM disable sound
#undef	NO_SOUND

XCOMM disable mercury unit
#define	NO_MERCURY

XCOMM for Opt.
XCOMM CDEBUGFLAGS= -O3 -mpentiumpro

XCOMM for DEBUG
XCOMM CDEBUGFLAGS= -g -O2
XCOMM CDEBUGFLAGS+= -g
XCOMM CDEBUGFLAGS+= -W -Wall
XCOMM CDEBUGFLAGS+= -DINLINE=
