XCOMM	$Id: config.tmpl,v 1.2 2003/12/05 18:07:14 nonaka Exp $

XCOMM
XCOMM disable sound
XCOMM
#undef	NO_SOUND

XCOMM
XCOMM disable mercury unit
XCOMM
#undef	NO_MERCURY

XCOMM
XCOMM for Opt.
XCOMM
XCOMM CDEBUGFLAGS= -O3
XCOMM CDEBUGFLAGS+= -funroll-loops
XCOMM CDEBUGFLAGS+= -fomit-frame-pointer
XCOMM CDEBUGFLAGS+= -ffast-math

XCOMM CDEBUGFLAGS= -mcpu=pentiumpro
XCOMM CDEBUGFLAGS+= -msse -mfpmath=sse

XCOMM
XCOMM for DEBUG
XCOMM
XCOMM CDEBUGFLAGS+= -g
XCOMM CDEBUGFLAGS+= -W -Wall -Wuninitialized
XCOMM CDEBUGFLAGS+= -Wunused
XCOMM CDEBUGFLAGS+= -Werror
XCOMM CDEBUGFLAGS+= -DINLINE=
XCOMM CDEBUGFLAGS+= -DUSE_GAS
